# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
## 1- python
## 2- sql
## 3- r

# Some of the commonly used libraries used by Data Scientists include:
## NumPy
## Pandas
## Matplotlib,

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `2 + 3 = 5`
2. Subtraction: `7 - 4 = 3`
3. Multiplication: `6 * 8 = 48`
4. Division: `10 / 2 = 5`

In [23]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [25]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Describe common libraries used in Data Science
- Demonstrate basic data manipulation techniques
- Show examples of data visualization
- Explain machine learning algorithms

## Author

Mostafa